
<div class="container">
  <ul class="list-unstyled nav navbar-nav navbar-default">
    <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['login']">Login</a></li>
    <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['register']">Register</a></li>
    <li><a [routerLink]="['pipe']">Pipe</a></li>
    <li><a [routerLink]="['user']">Users</a></li>
    <li><a [routerLink]="['product']">Product</a></li>
    <li><a [routerLink]="['customer']">Customer</a></li>
    <li *ngIf="authService.isAuthenticated()"><a [routerLink]="['logout']">Logout</a></li>
  </ul>
</div>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <!-- <app-new-customer></app-new-customer> -->
  </h1>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <div class="container">
  <app-register></app-register>
  <app-login></app-login>
   <app-pipe-demo></app-pipe-demo> 
</div>

<div *ngIf="authService.isAuthenticated()">
  <app-user></app-user>
</div> -->